In [1]:
def get_unique_words(text):
    text = text.lower()
    for char in '.,!?;:':
        text = text.replace(char, '')
        words = text.split()
        unique_set = set(words)

    return len(unique_set), unique_set
sentence = input("Enter your sentence: ")
if sentence.strip():
    count, unique_words = get_unique_words(sentence)
    print(f"Unique words count: {count}")
    print(f"Unique words: {unique_words}")
else:
    print("The input was empty. Try again!")

Enter your sentence: Python is easy and powerful
Unique words count: 5
Unique words: {'python', 'powerful', 'and', 'easy', 'is'}

In [2]:
def find_highest_paid(employees):
    if not employees:
        return None, 0
    highest_name = ""
    highest_salary = 0
    for name, salary in employees.items():

        if salary > highest_salary:
            highest_salary = salary
            highest_name = name

    return highest_name, highest_salary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

name, salary = find_highest_paid(employees)

if name:
    print(f"Highest Salary: {name} - {salary}")
else:
    print("No employee data found.")

Highest Salary: Ravi - 75000

In [3]:
def find_max_min(numbers):
    if not numbers:
        return None, None

    max_val = numbers[0]
    min_val = numbers[0]

    for num in numbers:
        if num > max_val:
            max_val = num
        if num < min_val:
            min_val = num

    return max_val, min_val

if __name__ == "__main__":
    numbers = [45, 22, 89, 10, 66]

    max_val, min_val = find_max_min(numbers)

    print(f"List: {numbers}")
    print(f"Max: {max_val}")
    print(f"Min: {min_val}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
def count_expensive_products(prices):
    count = 0

    for price in prices:
        if price > 1000:
            count += 1

    return count

if __name__ == "__main__":
    prices = [450, 1200, 899, 1500, 300]

    total = count_expensive_products(prices)

    print(f"Products above 1000: {total}")

Products above 1000: 2

In [5]:
def calculate_attendance(attendance_list):
    if not attendance_list:
        return 0.0

    total_days = len(attendance_list)
    present_days = 0

    for status in attendance_list:
        if status == "P":
            present_days += 1

    percentage = (present_days / total_days) * 100
    return percentage

if __name__ == "__main__":
    attendance = ["P", "P", "A", "P", "P"]

    result = calculate_attendance(attendance)

    print(f"Attendance Percentage: {result}")

Attendance Percentage: 80.0

In [6]:
def get_unique_phones(phone_numbers):
    unique_numbers = set(phone_numbers)
    return unique_numbers

if __name__ == "__main__":
    phone_numbers = [9876543210, 9123456789, 9876543210]

    unique_set = get_unique_phones(phone_numbers)

    print(f"Unique phone numbers: {unique_set}")

Unique phone numbers: {9876543210, 9123456789}

In [7]:
def get_unique_phones(phone_numbers):
    unique_numbers = set(phone_numbers)
    return unique_numbers

if __name__ == "__main__":
    phone_numbers = [9876543210, 9123456789, 9876543210]

    unique_set = get_unique_phones(phone_numbers)

    print(f"Unique phone numbers: {unique_set}")

Unique phone numbers: {9876543210, 9123456789}

In [8]:
def convert_to_tuple(data_list):
    return tuple(data_list)

if __name__ == "__main__":
    numbers = [10, 20, 30]

    result = convert_to_tuple(numbers)

    print(f"Tuple: {result}")

Tuple: (10, 20, 30)

In [9]:
def check_key_exists(data_dict, key_to_find):

    if key_to_find in data_dict:
        return True
    else:
        return False

if __name__ == "__main__":

    employees = {
        "Ravi": 75000,
        "Anita": 68000,
        "Kiran": 72000
    }


    if check_key_exists(employees, "Ravi"):
        print("Employee exists")
    else:
        print("Employee not found")

Employee exists

In [10]:
def calculate_average(marks_list):
    if not marks_list:
        return 0.0

    total_sum = sum(marks_list)
    count = len(marks_list)

    average = total_sum / count
    return average

if __name__ == "__main__":
    marks = [85, 70, 60, 75]

    result = calculate_average(marks)

    print(f"Average Marks: {result}")

Average Marks: 72.5